/* RESET CSS */
* {
    margin: 0;
    padding: 0;
}

/* FONT DA UTILIZZARE */
/*  <weight>: Use a value from 400 to 700 */

.font-titolo {
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* <weight>: Use a value from 400 to 700 */

.font-date {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* SPECIFICHE PER IMMAGINE BACKGROUND DEL MURO */
.contenitore-titolo {
    background-image: url(./img/wall.png);
    background-size: cover;
    height: 80px;
}

/* SPECIFICHE PER BACKGROUND SUGHERO */
main {
    height: 100vh;
    background-image: url(./img/cork.png);
}

/* SPECIFICHE POLAROID */
.polaroid {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 10px;
    background: white;
    padding: 14px;
    border-radius: 6px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
}