/* RESET CSS */
* {
    margin: 0;
    padding: 0;
}

/* ===================================================================================== */

/* FONT DA UTILIZZARE */
/*  <weight>: Use a value from 400 to 700 */

.font-titolo {
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* <weight>: Use a value from 400 to 700 */

.font-date {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ==================================================================================== */

/* SPECIFICHE PER IMMAGINE BACKGROUND DEL MURO */
.contenitore-titolo {
    background-image: url(./img/wall.png);
    background-size: cover;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SPECIFICHE CONTENITORE FOTO */
.contenitore-foto {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

/* SPECIFICHE PER BACKGROUND SUGHERO */
main {
    min-height: 100vh;
    background-repeat: repeat;
    background-image: url(./img/cork.png);
    padding-bottom: 20px;
}

/* SPECIFICHE POLAROID */
.polaroid {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 10px;
    background: white;
    padding: 14px;
    border-radius: 6px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
}

.polaroid-border {
    position: relative;
}

/* SPECIFICHE CHIODO */
.chiodo {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
}